*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    }
    html,body{
        height: 100%;
        width: 100%;
    
    }
    #main{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    #main .cursor{
        background-color: white;
        height: 20px;
        width:20px;
        border-radius: 50%;
        mix-blend-mode:difference ;
        font-size: large;
        position: absolute;
        transition: all linear 0.2s;
    }
    #main h1{
        font-size: 60px;
        font-weight: 800;
        color: white;
    }