*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: "Gilroy";
    color: white;
}
html ,body{
    height: 100%;
    width:100%;

}
#main{
    height: 100%;
    width: 100% ;
    background-color: black;
    position: relative;
}
#main #elem{
    height: 150px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    position: relative;
}
 #elem h1{
  font-size: 60px;
  padding-left: 20px;
  position: relative;
  z-index: 9999;
  mix-blend-mode: difference;
}
#elem img{
    border-radius: 50%;
    height: 120px;
    opacity: 0;
    transition: all linear 0.2s;
     position: absolute;
}
